.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: auto;
  color: white;
  background-color:white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;

}
.header2{
	text-align:center;
	margin : auto;
	width: 1044px;
}
.logo{
	margin-right: 2%;
}
.bg-light {
    background-color: white!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
#fixedbtn{
	position:fixed;right:3%;bottom:0px;z-index:1000
}
#fixedbtn2{
	position:fixed;right:9%;bottom:0px;z-index:1000
}
#fixedbtn3{
	position:fixed;right:15%;bottom:0px;z-index:1000
}
#fixedicon{
	background-color:black;
}
#fixedicon2{
	width : 70px;
	position:fixed;left:5%;bottom:0px;z-index:1000
}
.icon {
  transition: all 0.2s linear;
}
.icon:hover{
  transform: scale(1.4);
}
.darkmode{
	width: 300px;
	height: 300px;
	background-color: black;
}
.container{
	text-align: center;
	margin-top: 110px;
}
.form-select{
	display: inline;
    width: auto;
}
.writeForm{
	margin: auto;
	width: 50%;
}
.writeSelect{
	text-align: left;
}
#writeContent{
	height: 200px;
}
.writeButton{
	margin: auto;
	text-align: center;
}
.mainImg{
	border: 1px solid #ced4da;
	display: -webkit-inline-box;
	width: 300px;
	height: 300px;
}
.subImg{
	border: 1px solid #ced4da;
	display: -webkit-inline-box;
	width: 300px;
	height: 300px;
}
.imgBtn{
	display:block;
	margin: auto;
}
.imgBtn2{
	border: 1px solid #ced4da;
	display: -webkit-inline-box;
	width: 300px;
	height: 300px;
	display: -webkit-inline-box;
	margin: auto;
}



@media screen and (max-width: 1320px) {
	.writeForm{
	margin: auto;
	width: 80%;
	}
}

