<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="writeCmd" type="com.tripdiary.vo.WriteCmd"/>
		<typeAlias alias="emblemCmd" type="com.tripdiary.vo.EmblemCmd"/>
		<typeAlias alias="haveEmblemCmd" type="com.tripdiary.vo.HaveEmblemCmd"/>
		<typeAlias alias="memberActCmd" type="com.tripdiary.vo.MemberActCmd"/>
		<typeAlias alias="getEmblemCmd" type="com.tripdiary.vo.GetEmblemCmd"/>
		<typeAlias alias="profileCmd" type="com.tripdiary.vo.ProfileCmd"/>
		<typeAlias alias="tagCmd" type="com.tripdiary.vo.TagCmd"/>
		<typeAlias alias="mapCmd" type="com.tripdiary.vo.MapCmd"/>
	</typeAliases>
 	
</configuration>

