<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="writeCmd" type="com.tripdiary.TMvo.WriteCmd"/>
		<typeAlias alias="emblemCmd" type="com.tripdiary.TMvo.EmblemCmd"/>
		<typeAlias alias="haveEmblemCmd" type="com.tripdiary.TMvo.HaveEmblemCmd"/>
		<typeAlias alias="memberActCmd" type="com.tripdiary.TMvo.MemberActCmd"/>
		<typeAlias alias="getEmblemCmd" type="com.tripdiary.TMvo.GetEmblemCmd"/>
		<typeAlias alias="profileCmd" type="com.tripdiary.TMvo.ProfileCmd"/>
		<typeAlias alias="tagCmd" type="com.tripdiary.TMvo.TagCmd"/>
		<typeAlias alias="mapCmd" type="com.tripdiary.TMvo.MapCmd"/>
		<typeAlias alias="pageCmd" type="com.tripdiary.TMvo.PageCmd"/>
		<typeAlias alias="boardListVO" type="com.tripdiary.TMvo.BoardListVO"/>

	</typeAliases>
 	
</configuration>

